.playlist--wrapper {
  position: relative;
}
.track--modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $greyColor;
  z-index: 10;
  @include align-items(center);
  @include flex-direction(column);
  font-size: em(24, 16);
  font-weight: 700;
  @include transition( .75s ease-in-out);
  display: none;
  color: white;

  p {
    font-size: 16px;
    @include margin--mixin($bottom: 1%);
  }

  h4 {
    font-size: 24px;
    font-size: em(24, 16);
    opacity: 1;
    margin-top: 5%;
    margin-bottom: 30px;
  }
}

#tracks {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(center);
}

.track--container {
  width: 47.5%;
  height: 190px;
  margin: rem(30) 1.25%;
  background-color: white;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.10);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.10);
  position: relative;
  border-radius: 5px;

  @include transition( .3s ease-in-out);
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  overflow: hidden;

  .track--art {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10%;
    width: 80%;
    height: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .track--title {
    font-family: $josefin;
    font-size: em(12, 16);
    font-weight: 400;
    text-align: center;
    margin: 0 10%;
  }

  .track--title, 
  .track--art,
  .track--iframe,
  .close--modal,
  .button {
    @include transition( .5s ease-in-out);
  }

  .button {
    height: auto;
    font-size: em(12, 16);
    line-height: 2em;
    position: absolute;
    bottom: 0;
    @include transform(translateY(30px));
    opacity: 0;
  }

  .track--iframe {
    background: white;
    position: fixed;
    bottom: 5%;
    height: 0;
    left: 50%;
    @include transform(translateX(-50%));
    opacity: 0;
    z-index: 20;
    width: 90%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &:hover {
    cursor: pointer;

    .track--art {
      @include transform(scale(0.9));
    }
    .track--title {
      @include transform(translateY(-20px));
    }

    .button {
      @include transform(translateY(-20px));
      opacity: 1;
    }
  }

}

.close--modal {
  font-size: 4em;
  line-height: initial;
  display: none;
  @include transform(rotate(135deg));

  &:after {
    content: '';
    position: absolute;

  }
  &:hover {
    color: $mainColor;
  }
}

.playlist--iframe {
  width: 80%;
  @include push--auto;

  iframe {
    width: 100%;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
}
@include mq ('tablet', min) {
  .track--container {
    width: 30.8333333%;
    height: 210px;
  }
}
@include mq ('tablet-wide', min) {
  .track--container {
    width: 17.5%;
    
    .track--iframe {
      width: 70%;
    }
  }
}