<section class= "cover--wrapper">
  <div class= "cover--content">
    <p class= "normal--text">
      Dedicated to search, catalog, sort free music from Soundcloud for commercial purposes, destined to content creators.
    </p>
    <%= form_for :playlist, url: set_playlist_path do |f| %>
      <%= f.text_field :id, placeholder: 'PLAYLIST LINK / ID', class: "form--control" %>
      <br>
      <%= f.submit 'Start searching', class: "btn btn-default" %>
    <% end %>
  </div>
</section>

Something will be here
something

<br>
<br>

here

here


er

