.content--wrapper {
	max-width: $maxWidth;
	margin: 0 auto;
  background-color: #fff;
}

.normal--text {
	font-size: em(20,16);
  line-height: 40px;

	@include transition(all 2s);
  opacity: 0;
  transform: translateY(30px);

  span {
  	font-weight: 500;
  	font-size: em(22, 20);
  }
}

.main--wrapper {
  min-height: calc(100vh - 70px);
}
@include mq('phone', min) {
	.normal--text {
		font-size: em(40, 16);
	  line-height: 60px;

	 span {
	 	font-size: em(44, 40);
	 }
	}
}
