header {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  height: 70px;
  //right: 0;
  //left: 0;
  //position: fixed;


  a {
  	margin: 0 rem(30);
  	color: $mainColor;
  	transition: color .3s ease 0s;
    font-size: em(17,16);
    font-weight: 500;

  	&:hover {
  		color: #000;
  	}

    &.active {
      color: #000;
    }
  }

  .innactive {
    text-decoration: line-through;
  }
}