header {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  height: 70px;
  margin: 0 rem(30);

  a {
  	color: $mainColor;
  	transition: color .3s ease 0s;
    font-size: em(17,16);
    font-weight: 500;
    text-decoration: line-through;

  	&:hover {
  	  color: #000;
  	}

    &.active {
      color: #000;
      text-decoration: none;
    }
  }
}