<section class= 'cover--wrapper'>
  <div class= 'cover--content'>
    <p class= 'normal--text visible'>
      Created by two passionate lads in their leisure time with the purpose to play around with <span>Soundcloud</span> and <span>Youtube</span> APIs. Reach them on <span>Github</span>
    </p>
    <div id= "developers">
      <a class= "developer--container" href= "https://github.com/nicubarbaros" target= "_blank">
        <img class= "developer--art" style="background-image: url('https://avatars1.githubusercontent.com/u/6587086?v=3&s=460')">
        <h5 class= "developer--title">@nicubarbaros</h5>
      </a>

      <a class= "developer--container" href= "https://github.com/dimmg" target= "_blank">
        <img class= "developer--art" style="background-image: url('https://avatars3.githubusercontent.com/u/9215087?v=3&s=460')">
        <h5 class= "developer--title">@dimmg</h5>
      </a>
    </div>
  </div>
</section>

