<section class="steps--wrapper">
  <div class="step--container left--direction">
    <p>
      1. enter the playlist id or link
    </p>
    <%= image_tag asset_path('help_1.png') %>
  </div>
  <div class="step--container right--direction">
    <p>
      2. play with the filters you are interested in
    </p>
    <%= image_tag asset_path('help_2.png') %>
  </div>
  <div class="step--container left--direction">
    <p>
      3. open a specific track
    </p>
    <%= image_tag asset_path('help_3.png') %>
  </div>
  <div class="step--container right--direction">
    <p>
      4. get first 10 returned video titles, as of a youtube search
    </p>
    <%= image_tag asset_path('help_4.png') %>
  </div>
</section>