<header class="header">
  <%= link_to 'soundclails', root_path, :class => current_page(root_path) %>

  <nav class="navigation">
    <%= link_to 'about', root_path, class: 'inactive'%>
    <%= link_to 'help', root_path, class: 'inactive' %>
  </nav>
</header>